<div id="article_{#id#}" class="uk-panel uk-panel-box j-article-list">
    <div class="uk-grid">
        <div class="uk-width-1-2"><strong>{#name#}</strong> <em>({#updated_at#})</em></div>
        <div class="uk-width-1-2 uk-text-right">
            <button class="uk-button uk-icon-eye" data-id="{#id#}"></button>
            <button class="uk-button uk-icon-pencil" data-id="{#id#}"></button>
            <button class="uk-button uk-icon-remove" data-id="{#id#}"></button>
        </div>
    </div>
</div>