        <div class="uk-grid">
            <div class="uk-width-8-10">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-text-center uk-margin-top uk-margin-bottom">
                        <h1>{#title#}</h1>
                    </div>
                    <div class="uk-width-1-1">

                        {#article_list#}

                    </div>
                    <div class="uk-width-1-1 uk-text-right">
                        <br><hr><br>
                        <a class="uk-button uk-button-success" href="/createArticle"><i class="uk-icon-plus"></i>&nbsp;Сoздать статью</a>
                    </div>
                </div>
            </div>
        </div>
